{% extends 'main.html' %}

{% block content %}
{% include 'todo/navbar.html' %}
<div class="isolate bg-white px-6 py-16 sm:py-20 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        {% if title == 'create' %}
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Create New Task</h2>
            <p class="mt-2 text-lg text-gray-600">Fill out the form below to add a new task to your todo list.</p>
        {% else %}
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Update the Task</h2>
            <p class="mt-2 text-lg text-gray-600">Change the data in the form below to update your task.</p>
        {% endif %}
    </div>
    
    <form method="POST" action="" class="w-full max-w-xl mx-auto mt-12 sm:mt-16 px-4 sm:px-0">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-x-8 gap-y-6">

            <!-- Title -->
            <div>
                <label for="title" class="block text-sm font-semibold text-gray-900">Title</label>
                {{ form.title }}
            </div>

            <!-- Description -->
            <div>
                <label for="description" class="block text-sm font-semibold text-gray-900">Description</label>
                {{ form.description }}
            </div>

            <!-- Category -->
            <div>
                <label for="category" class="block text-sm font-semibold text-gray-900">Category</label>
                <input type="text"
                       name="category"
                       id="category"
                       list="category-list"
                       required
                       value="{% if title == 'update' %}{{ task.category.name }}{% endif %}"
                       class="mt-2 block w-full rounded-md border border-gray-300 px-4 py-2 text-base text-gray-700 shadow-sm  focus:outline-none focus:ring-1 focus:ring-black" />
                <datalist id="category-list">
                    {% for category in categories %}
                        <option value="{{ category.name }}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <!-- Due Date -->
            <div>
                <label for="due_date" class="block text-sm font-semibold text-gray-900">Due Date</label>
                {{ form.due_date }}
            </div>

            {% if title == 'update' %}
            <!-- Is Completed -->
            <div>
                <label for="is_completed" class="block text-sm font-semibold text-gray-900">Completed</label>
                {{ form.is_completed }}
            </div>
            {% endif %}

            <!-- Priority -->
            <div>
                <label for="priority" class="block text-sm font-semibold text-gray-900">Priority</label>
                {{ form.priority }}
            </div>

            <!-- Submit Button -->
            <div class="mt-1 flex space-x-2">
                <a href="{{ request.META.HTTP_REFERER }}"
                   class="inline-block px-10 py-2 text-black border transition duration-300 hover:bg-black hover:text-white font-semibold rounded-xl shadow-md">
                    Cancel
                </a>
                <button type="submit"
                        class="w-full inline-block px-6 py-2 text-black border transition duration-300 hover:bg-black hover:text-white font-semibold rounded-xl shadow-md">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
